/* 
    Created on : May 8, 2023, 8:54:14 PM
    Author     : moham
*/

/* Style the video: 100% width and height to cover the entire window */
#mainVideo {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    transform: scale(1.08);
}

@font-face
{
    font-family:leFancy;
    src:url('assests/font.woff');
}

body {
    font-family: leFancy;
}
