/* 
    Created on : May 8, 2023, 8:54:14 PM
    Author     : moham
*/

/* Style the video: 100% width and height to cover the entire window */
#mainVideo {
  position: static;
  width: 100%;
  min-height: 100%;
  z-index: -10;
  
  /* blur video things */
  -o-filter: blur(5px);
    filter: blur(5px);
    object-fit: fill;
    transform: scale(1);
}

